.next-save {
    display: inline-block;
    width: 20%;
    height: 30px;
    font-size: 20px;
    position: relative;
    bottom: 15%;
    border: 1px solid blue;
    margin: auto;
}

#question-answer-container {
    align-content: center;
}

#button-container {
    margin: auto;
    width: 100%;
    display: inline-block;
    border: 1px solid green;
}

#question-container {
    margin: auto;
    border: 1px solid white;
}

#save-question {
    float: left;
}

#next-question {
    float: right;
}